{% load static %}
<div class="app-header">
    <nav class="navbar navbar-light navbar-expand-lg container">
        <div class="container-fluid">
            <div class="navbar-nav" id="navbarNav">
                <div class="logo">
                    <a href="{% url 'home' %}">Fiflo</a>
                </div>
            </div>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item hidden-on-mobile">
                        <a class="nav-link language-dropdown-toggle" href="#" id="languageDropDown" data-bs-toggle="dropdown">

                            <span class="me-2 text-light text-capitalize">{{ request.user.username }}</span>
                            <img src="{% static 'images/flags/us.png' %}" alt="">
                        </a>
                            <ul class="dropdown-menu dropdown-menu-end language-dropdown" aria-labelledby="languageDropDown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="app-menu">
    <div class="container">
        <ul class="menu-list">
            <li class="active-page">
                <a href="{% url 'home' %}">Dashboard</a>
            </li>
            <li>
                <a href="#">Apps<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="mailbox.html">Mailbox<span class="badge rounded-pill badge-danger float-end">87</span></a>
                    </li>
                    <li>
                        <a href="calendar.html">Calendar<span class="badge rounded-pill badge-success float-end">14</span></a>
                    </li>
                    <li>
                        <a href="todo.html">Todo</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'users' %}">User management</a>
            </li>
            <li>
                <a href="{% url 'user-group' %}">Groups</a>
            </li>
            <li>
                <a href="{% url 'categories' %}">Categories</a>
            </li>
            <li>
                <a href="{% url 'files' %}">Files</a>
            </li>
        </ul>
    </div>
</div>